*.binfo
*.bnd
*.end
*.err
*.fds
*.csv
*.out
*.png
*.prt5
*.s3d
*.sf
*.sinfo
*.s3d*
*.ter
*.avi
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.log
*.csv
*.rds
*.pngi
*.fds
*.tif*
*.nc
*.tar
*.zip
*.7z
*.tgz
*.gz
*.binfo
*.end
*.out
*.sinfo
*.smv
*.ter
*.prt5*
*.restart
*.s3d*
*.sf*
*.q
*.bsub
*.err
*.out
*.Rhistory
.ipynb_checkpoints
*.swp
__pycache__

